.wrapper {
    border: 1px solid #dedede;
    border-radius: 12px;
    padding: 24px;
    transition: all ease-in-out 300ms;
    overflow-y: hidden;
    cursor: pointer;
    animation: intoDown ease-in-out 200ms forwards;
    position: relative;
}
[data-wrapper-show="true"] {
    border: 1px solid var(--theme--color--900);
}

.question {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.question__title {
    font-size: 16px;
    font-weight: 400;
    color: var(--color-text--900);
    transition: all linear 100ms;
}
[data-wrapper-show="true"] .question__title {
    font-weight: 600;
    color: var(--theme--color--900);
}
.answer {
    font-size: 14px;
    font-weight: 400;
    color: var(--color-text--300);
    padding: 16px 56px 0 0;
    animation: intoDown ease-in-out 200ms forwards;
}

.icon {
    background: var(--color-text--900);
    height: 16px;
    width: 1px;
    position: relative;
    transition: all ease-in-out 200ms;
}
.icon::after {
    content: "";
    background: inherit;
    height: 16px;
    width: inherit;
    position: absolute;
    transform: rotate(90deg);
}
[data-icon-close="true"] {
    transform: rotate(90deg);
    background: var(--theme--color--900);
}
[data-icon-close="true"]::after {
    transform: rotate(0deg);
}

@keyframes intoUp {
    from {
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate3d(0, -10px, 0);
    }
}

@keyframes intoDown {
    from {
        opacity: 0;
        transform: translate3d(0, -10px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
    }
}
