* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color--primary: #64c882;
    --color--text--primary: #130502;
    --color--text--secundary: #869289;
}

body {
    font-family: "Poppins", sans-serif;
    padding-top: 112px;
}

/* animation */

@keyframes intoDown {
    from {
        opacity: 0;
        transform: translate3d(0, -10px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
    }
}
