* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --theme--color--900: #64c882;
    --color-text--900: #373737;
    --color-text--800: #969696;
    --color-text--300: #8f8f8f;
}

body {
    font-family: "Poppins", sans-serif;
}
main {
    min-height: calc(100vh - 84px);
}
/* animation */

@keyframes intoDown {
    from {
        opacity: 0;
        transform: translate3d(0, -10px, 0);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0px, 0);
    }
}
.teste-id {
    background: red;
    padding: 48px;
}
