* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color--primary: #64c882;
    --color--text--primary: #130502;
    --color--text--secundary: #869289;
}

body {
    font-family: "Poppins", sans-serif;
    padding-top: 112px;
}
